env/*
data/*
dist/*
*.pyc
.ipynb_checkpoints
*.egg-info/
.git.bfg-report
.DS_Store
lag_log.csv
.spyproject
.cache
site/*
build
.idea
.vscode
*.swo
*.swp

# files used during creation and burning of the donkey car rasberry pi image
cookie
*.img
*.zip
dcdisk
id_rsa
id_rsa.pub
